*
{
    font-family: 'Baloo 2'!important;
}
html,
body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.createPost {
    display: flex;
    flex-direction: column;
    margin: 3% auto 3% auto;
    width: 90%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}

.titleCP { display: flex; margin: auto;width: 50%; }
.titleCP h1 { width: 100%; font-family: 'Baloo 2'; text-align: center; font-size: 2.2rem; margin-top: 2%; }

.formCP { display: flex; width: 90%; margin: 2% auto 2% auto; }
    .subForm { width: 40%; padding: 2% 0 2% 0; margin: auto; }
    .formCPField { width: 80%; margin: auto auto 3% auto }
    .formCPFieldTitle { font-family: 'Rubik'; font-size: 1.3rem; font-weight: 600; } 
    .formCPFieldInput, .subForm textarea { width: 100%; padding: 0.5% }
    .subForm input:focus, .subForm textarea:focus { outline: none; }
    .fieldBtns { display: flex;  }
    .subFieldBtns { margin-left: 5%; width: 50%; }
    .subFieldBtns button { 
        margin: 2% 2% 2% 2%; 
        padding: 0 5% 0 5%; 
        border-radius: 5px; 
        border: 1px solid black; 
        cursor: pointer;
    }
    #peopleYes, #moneyYes { background-color: rgb(156, 222, 138); color: white; border: none; }
    #peopleNo, #moneyNo { background-color: rgb(245, 41, 41); color: white; border: none; }
    #peopleTable { width: 100%; background-color: #E8E7E7; border-radius: 5px; display: none; flex-direction: column; }
        #headerPeopleTable, #divPeopleLines { display: flex; width: 100%; margin-top: 1%; }
        #divPeopleLines { flex-direction: column; }
        #divPeopleLines div { width: 100%; display: flex; }
        #divPeopleLines input { border: none; border-radius: 5px; margin: 1% auto 1% auto; padding: 0.5% 2% 0.5% 2%; font-size: 0.8rem; }
        .leftItemPeopleTable { width: 75%; font-size: 0.9rem; margin-left: 4%; }
        .rigthItemPeopleTable { width: 15%; font-size: 0.9rem; margin: 0 4% 0 1%; text-align: center; }
        #addPeopleLine { margin: 0 0 1% 4%; cursor: pointer; width: 5%; }
    #moneyPost { display: none; }

.imgPost { width: 90%; margin: auto auto 2% auto; }
    #imagenTitle { width: 100%; text-align: center; }
    .imgCatCP {
        margin: 3% auto 3% auto;
        display: grid;
        width: 80%;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px;
    }
    .imgCatCP img { cursor: pointer; margin: auto; }

#btnCP {
    margin: 0 auto 2% auto ;
    background-image: linear-gradient(#254EEC , #8A26EC);
    color: white;
    border: none;
    border-radius: 15px;
    width: 10%;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
}

#btnCP:hover{ background-image: linear-gradient(#1c3ab1 , #7220c4); }