*
{
    font-family: 'Baloo 2';
}

.crearPubl{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    display: inline;
}
#imgLogo{
   
    margin-left: 30%;
    text-align:justify;
}
h1{
    margin-top: -5%;
    font-family: 'Baloo 2';
    font-size: 281.25%;
}
#imgEv1
{
  margin-left : 60px;
}
#imgEv5
{
  margin-left : 60px;
}
#contenido1{
    width: 90%;
    height: 100%;
    text-align: center;
    margin-top: -2%;
    margin-right: 70px;
    display: inline-block;
}
#tImagenPost
{
    font-size : 30px;
    padding-top: 26px;color: #7b2cec;
}

.divBloques
{
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
    border-radius: 16px;
    width: 65%;border: black;
    box-shadow: 0px 2px 10px black;
    background-color: white;
}

#div1{
    
    display: inline-block;
    width: 40%;
    margin-left: 10%;
}
#div2
{
    display: inline-block;
    width: 40%;
    margin-left: 5%;
}

.imgPost{
    text-align: center;
    background-color: rgb(255 255 255);
    width: 69%;
    margin-left: auto;
    margin-right: auto;
    height: 430px;
    border-radius: 16px;
    border: black;
    box-shadow: 0px 2px 10px black;
}


img
{
 cursor: pointer;
}

.imgCat
{
    margin-top: 3%;
    margin-bottom: 3%;
    display: grid;
    width: 200px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}
#tInfoPost
{
    font-size: 30px;
    padding-top: 26px;
    margin-bottom: 30px;
    text-align: center;color: #7b2cec;
}

#btnPublicar2
{
    margin-top: 5%;
    margin-left: 43%;
    background-image: linear-gradient(#254EEC , #8A26EC);
    color: white;
    border: none;
    border-radius: 15px;
    width: 10%;
    height: 5vh;
    text-align: center;
    margin-bottom: 50px;font-size: 16px;
}

#btnPublicar2:hover
{
    background-image: linear-gradient(#1c3ab1 , #7220c4);
}

button{
        cursor: pointer;
}

label{
    font-family: 'Rubik';
    font-size: 19px;
    font-weight: 600;
}

