*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.portada {
    display: block;
    max-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#254EEC , #8A26EC);
}
.navBarPortada {
    display: flex;
    margin: 2% 0 0 0;
}
#redesNavPortada {
    display: flex;
    padding: 1%;
    background-color: white;
    margin: auto auto auto 5%;
    max-width: 20%;
    border-radius: 10px;
}
#redesNavPortada img {
    width: 13%;
    margin: auto;
}
#btnNavPortada {
    display: flex;
    margin: auto 5% auto auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    color: white;
    width: 30%;
}
#btnNavPortada a {
    margin: auto;
    cursor: pointer;
}

.logoPortada {
    display: flex;
    flex-direction: column;
}
.logoPortada img {
    margin: 0 auto 0 auto;
    width: 40%;
}
.logoPortada h1 {
    margin: 0 auto 0 auto;
    color: white;
    font-family: 'Overlock', cursive;
}

.perfilesPortada {
    display: flex;
    width: 80%;
    margin: 2% auto 2% auto;
}
.tarjetaPerfil {
    width: 30%;
    height: 40vh;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 10px;
}



body {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    max-height: 100vh;
    flex-direction: column;
}

.divBlanco{
    margin-top: 8%;
}

.divGris{
    display: flex;
    margin-top: 8%;
    background-color: #F0F0F0;
}

#imgPort1 {
width: 40%;
margin-left: 4%;
}
#imgPort2{
    width: 30%;
    height: 90%;
    margin: auto;
    border-radius: 5%;
    
}
#imgPort3{
    width: 40%;
}

.subtitulosP{
    font-family: 'Baloo 2';
    font-size: 45px;

}
.parrafosP{
    font-family: 'Baloo 2';
    font-size: 25px;
}
.subParrafo{
    font-size: 25px;
    color: rgba(128, 128, 128, 0.774);
    text-align: center;
    margin-top: 3%;
}
.subDiv1{
    display: flex;
}
.subDiv2Txt{
    width: 35%;
    margin: 0 9% 0 auto;
}

.subDiv1Derc{
    display: flex;
    margin: 0 2% 0 auto;
}
.subDiv2TxtDerc{
    width: 35%;
    margin: 8% auto 0 8%;
}
#logoInversor{
    width: 20%;
    margin: 0 9% 0 40%;
}
*
{
    font-family: 'Baloo Bhai 2', cursive;
}
#insignias
{
   
   
    background-color: #F0F0F0;
    
}
.insigniasTabla
{
    margin: auto;
   width: 1000px;
    
    
}
#insigniaH{
    text-align: center;
    padding: 50px;
    font-family: 'Baloo 2';
    font-size: 45px;
}

td
{
    text-align: center;
    font-size: 26px;
    
}
#parrafoInsignia
{
    font-family: 'Baloo 2';
    font-size: 25px;
    text-align: left;

    padding: 100px;

}

#insigniaImg
{
    display:flex;
    flex-direction: column;
    
    
    height: 100vh;
    margin: 0;
    padding: 100px;
    box-sizing: border-box;
}

#insigniaTexto
{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.imagenPerfil
{
    width: 600px;
}