* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2';
}

#contenedorPerfil {
    background-color: rgb(247, 247, 247);
    height: 100%;
    width: 100%;
    margin: 0;
}

.topPerfil { margin: 0 auto 0 auto; width: 100%; }
    #imagenBackPerfil {
        display: flex;
        background-image: linear-gradient(#254EEC , #8A26EC);
        width: 90%;
        height: 40vh;
        margin: 5% auto 0 auto;
    }
    #editarPerfilImages { margin: auto 1% 1% auto; cursor: pointer; }
    .informationPerfil {
        display: flex;
        width: 90%;
        margin: -8% auto 0 auto;
    }
    #iconoPerfil {
        margin: 0 0 0 10%;
        width: 15%;
        height: 15%;
        border-radius:100%;
    }
    .informationPerfil h2 { margin: auto 0 0.2% 5%; text-align: center; font-size: 1.7rem; }
    .insigniasDiv {
        display: flex;  
        margin: auto 5% 0 auto;
        width: 30%;
        height: 10vh;
    }
    .insigniasDiv h3 { text-align: center; margin: auto 0 auto 0; }
    #insignias { width: 100%; height: 100%; display: flex; }
    #insignias img { margin: auto 0 auto 4%; height: 90%; }

#lineaDivisoria { height: 2px; width: 90%; margin: 2% auto 2% auto; border: none; background-color: rgb(71, 71, 71); }

.bottomPerfil { margin: 0 auto 0 auto; width: 90%; }
    .bottomNav { display: flex; width: 90%; margin: 0 auto 0 auto;}
    .bottomNav h2 { margin: 0 4% 0 4%; cursor: pointer; }
    .bottomBoxes { width: 95%; margin: 3% auto 0 auto; display: flex;}
    .boxDiv {
        background-color: white;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 70%;
        min-height: 1000px;
        border-radius: 20px;
        box-shadow: 2px 2px 2px 2px rgb(141, 141, 141);
        margin-bottom: 50px;
        margin-right: 30px;
        padding-bottom: 5%;
    }
    #vNavPost { color: #7E16EB }

    #datosPerfil {
        background-color: white;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 26%;
        height: 250px;
        border-radius: 20px;
        box-shadow: 2px 2px 2px 2px rgb(141, 141, 141);
        margin: 0 0 0 auto;
        position: sticky;
    }
    #datosPerfil h1 { margin: 5% 0 0 0; text-align: center; font-size: 1.5rem; }
    #datosTit { width: 40%; font-size: 1.3rem; text-align: left; padding: 0 0 0 50%; margin: auto 0 auto 0; }
    #phoneUser, #emailUser { width: 60%; font-size: 0.9rem; text-align: center; margin: auto 0 auto auto; }
    .campoDatos { font-size: 16px; }
    #email { display: flex; margin: auto; width: 90%; }
    #telefono { display: flex; margin: auto; width: 100%; }

#miBoton input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: linear-gradient(to bottom, blue, rgb(140, 0, 255));
    color: #fff;
    font-size: 1rem;
    border-radius: 20px;
    width: 50%;
    position: relative;
    margin: 0 0 5% 0;
}
#miBoton {
    margin-left: 0;
    margin-right: 0;
    display: flex;
     
    align-items: center;
    justify-content: center;
    text-align: center;
      
}
#miBoton input[type="submit"]:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, rgb(0, 0, 177), rgb(86, 0, 156));
    color:white;
}

#iconoEditar {
    position: relative;
    cursor: pointer;
    left: 98%;
}
#pantallaEmergente {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.3);
    visibility: hidden; 
}
#closeVE {
    display: flex;
    width: 3.5%;
    margin: 1% 1% auto auto;
    border-radius: 100%;
    cursor: pointer;
}
#pantalla {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 60%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgb(141, 141, 141);
    height: 80%;
}
#colores { 
    margin: auto;
    width: 100%;
    display: flex; 
    height: 35%;
}
#selectorColores {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 80%;
    margin: 0 auto 0 10%;
}
.colorSelect {
    background-color: rgb(201, 201, 201);
    width: 70%;
    margin: auto;
}
.colorSelect input { height: 80%; }
#fondo {
    display: flex;
    width: 45%;
    height: 80%;
    background-color: black;
    margin: 0 10% 0 auto;
}
#tablaIconos {
    width: 80%;
    height: 40%;
    margin: auto;
    display: grid;
    gap: 5%;
    grid-template-columns: 1fr 1fr 1fr;
}
#tablaIconos img {
    border-radius: 100%;
    border: 2px solid white;
    width: 50%;
    margin: auto;
    cursor: pointer;
}
#iconoPerfil {
    border-radius: 100%;
}
#botonGuardar {
    display: flex;
    height: 8%;
    width: 20%;
    margin: auto;
    cursor: pointer;
    border-radius: 20px;
    background: linear-gradient(to bottom, blue, rgb(140, 0, 255));
}
#botonGuardar input[type="submit"] {
    border: none;
    outline: none;
    color: white;
    margin: auto;
    cursor: pointer;
    font-size: 1.2rem;
    background: transparent;
}


/* EDIT CARD */
.cardEdit {
    display: flex;
    flex-direction: column;
    width: 90%; 
    height: 60%; 
    margin: 5% auto 0 auto; 
    border: 1px solid #254EEC;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}
.form-edit { display: flex; flex-direction: column; width: 90%; height: 90%; margin: auto; }
.form-campo { display: flex; width: 100%; margin: auto; }
.form-campo div { display: flex; width: 50%; margin: auto 0 auto 5%;}
.form-campo div p  { margin: auto 0 auto 5%;}
.editCampo { width: 40%; text-align: center; padding: 0 5% 0 5%; }
.form-campo input:focus { outline: none; }
#btnEdit { 
    border: none;
    outline: none;
    border-radius: 10px;
    width: 20%; 
    font-size: 1.2rem; 
    margin: auto;
    cursor: pointer;
    color: white;
    background: linear-gradient(to bottom, blue, rgb(140, 0, 255));
}

/* PROBLEM CARD */
.problemCard {
    display: flex;
    position: absolute;
    width: 20%;
    height: 20%;
    background-color: red;
    top: 10%;
    left: 5%;
    border-radius: 20px;
    visibility: hidden;
}
.problemCard p {
    width: 90%;
    margin: auto;
    font-size: xx-large;
    text-align: center;
    color: white;
}