*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ALTERNAR PESTAÑAS */
.form-registro{
  display: none;
}

/* FORMULARIO */
.formulario {
  display: flex;
  width: 100%;
  min-height: 100vh;
}
.formularioContent {
  display: flex;
  flex-direction: column;
  margin: auto;
  border:3px solid rgb(68, 0, 255) ;
  border-image: linear-gradient(blue);
  border-radius: 10px;
}
.navBar {
  display: flex;
  margin: 0 auto 0 auto;
  width: 100%;
}
.navBar button {
  width: 50%;
  height: 7vh;
  border: none;
  font-size: 20px;
}
#inicioSesion {background-color: transparent; cursor: pointer;}
#registro {
  margin: 0 0 auto auto;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 6px;
  background-color: #1641EA;
  color: white;
  cursor: pointer;
}
#imgLogo{
  width: 40%;
  display: block;
  margin: 5% auto 0 auto;
}
.form-login{
  margin: 0 0 0 0;
  padding: 20px 30px;
  border-image: linear-gradient(blue);
  border-radius: 10px;
  color: rgb(0, 0, 0);
}
.form-campo {
  margin: 5% auto 5% auto;
  display: flex;
  width: 80%;
  height: 7vh;
  border:2px solid rgb(68, 0, 255) ;
  border-radius: 10px;
  background-image: url("/Imagenes/Pics/recuadroForm.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.form-campo input {
  margin: auto 0 auto auto;
  width: 80%;
  height: 100%;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 8px;
  background-color: none;
}
.form-campo input:focus {
  outline: none;
}
#txtHOC {
  text-align: right;
  margin: -4% 10% 5% auto;
  font-size: 12px;
}
.buttons{
  display: block;
  width:50%;
  height: 6vh;
  margin: 0 auto 5% auto;
  background: transparent;
  border-radius: 10px;
  border: 2px solid rgb(68, 0, 255) ;
  /* border-image: linear-gradient(red, blue); */
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

/* INFO INVERSORES */
.infoInversores{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 27.5vh;
  right: 0;
  width: 17%;
  height: 45vh;
  text-align: center;
  background-image: url("../Imagenes/Pics/TarjetaInversoresSinLetras.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#tituloInv{
  width: 90%;
  margin: 15% auto 0 auto;
}
#txtInv{
  width: 90%;
  color: white;
  margin: auto;
  font-family: 'Baloo 2', cursive;
}
#btnInv{
  width: 60%;
  height: 5vh;
  color: black;
  margin: 0 auto 15% auto;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 10px;
  background-color: white;
}