/***RESPONSIVE***/
@media (max-width: 1000px) {

    html,
    body {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }

    /***MAS INFORMACION***/
    .subDivMInfo {

        width: 90vw;
        max-width: 90vw;
        height: 100vw;
        max-height: 100vw;
    }

    #tituloMI h1 {

        font-size: 6vw;
    }

    #divBTNSMI button {

        width: 13vw;
        height: 5vw;
        font-size: 2.5vw;
    }

    #desc p {

        font-size: 2.5vw;
        height: 94%;
    }

    #moneyMI p {

        font-size: 3vw;
    }

    #tipoMI {

        font-size: 3.5vw;
    }

    #countMI {

        font-size: 3vw;
    }

    #contenidoFechas p {

        font-size: 3vw;
    }

    #noPeople {
        font-size: 4vw;
    }

    /*******************/
    /****ALERTA******/


    #alert {

        width: 50vw;
        font-size: 3.6vw;
        height: 15vw;
    }

    /***********/
    /**********Div Inversores********/
    #hazteInv {
        display: flex;
        position: relative;
        top: -167px;
        height: 187px;
        width: 171px;
        right: -216px;
    }

    #hazteInv button {

        margin-bottom: 13vw;
        position: relative;
        bottom: -9vw;
        width: 26vw;
        height: 20vw;
        max-height: 20vw;
        font-size: 3vw;
    }

    #hazteInv img {

        margin-top: 6vw;
        position: relative;
        bottom: -1vw;
    }

    #hazteInv p {

        display: none;
    }

    /***************/

    #divPost {

        margin-top: 39vw;
        width: 800px;
    }

    #headerRL p {

        font-size: 3vw;
    }

    #createPost {

        width: 56vw;
        max-width: 400px;
        height: 32vw;
        max-height: 186px;
        position: relative;
        left: -18vw;
        top: -15vw;
    }

    .subPeopleDiv {

        width: 20vw;
        height: 25vw;
        display: inline-block;
        align-items: center;
        font-size: 3.5vw;
    }

    .subPeopleDiv img {
        margin: auto;
    }

    .subPeopleDiv img {

        width: 10vw;
        height: 10vw;
        margin-left: 23%;
    }

    .searchingPeople {}

    #hazteInv {
        display: flex;

        position: relative;
        top: -47.6vw;
        height: 33vw;
        width: 31vw;
        right: -29vw;
    }

    .divCards {
        width: 100%;





        height: 100%;
        MARGIN: auto;
        margin-top: 78px;
        margin-left: -770px;
    }

    .cardPost {
        width: 91vw;
        margin-left: -1vw;
        height: 26vw !important;
        max-height: 26vw !important;
    }

    #botCreate img {

        width: 9VW;
    }

    #botCreate p {

        font-size: 3.5VW;
    }

    #topCreate {

        height: 25vw;
    }

    #titlePost {
        font-size: 3.5vw;
    }

    #textPost {
        font-size: 2.5vw;
        width: 90%;
    }

    #moreInfoPost {
        width: 23vw;
        height: 5vw;
        font-size: 2.5vw;
        margin-left: 16.5vw;
    }

    .postBodyRightBot div p {
        font-size: 2.5vw;
    }

    .postBodyRightTop div img#btnChat {
        width: 4vw;
        height: 4vw;
        margin-top: 1vw;
    }

    .postBodyRightBot {

        width: 15vw;
        position: relative;
        left: -3vw;
    }

    .searchingPeople {

        height: 38vw;
        width: 90vw;
    }


}

@media (min-width:600px) and (max-width : 1000px) {

    html,
    body {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }

    /***MAS INFORMACION***/
    .subDivMInfo {

        width: 545px;
        max-width: 545px;
        height: 606px;
        max-height: 600px;
    }

    #tituloMI h1 {

        font-size: 36px;
    }

    #tipoMI {

        font-size: 21px;
    }

    #countMI {

        font-size: 18px;
    }

    #divBTNSMI button {

        width: 78px;
        height: 30px;
        font-size: 15px;
    }

    #desc p {

        font-size: 15px;
        height: 94%;
    }

    #moneyMI p {

        font-size: 18px;
    }

    #contenidoFechas p {

        font-size: 18px;
    }

    #noPeople {
        font-size: 24px;
    }

    /*******************/
    /****ALERTA******/


    #alert {

        width: 300px;
        font-size: 21px;
        height: 88px;
    }

    /***********/

    .bottomNav {

        font-size: 16px;
        margin-left: 10px;
    }

    .cardPost {
        width: 533px;
        max-width: 533px;
        margin-left: -3vw;
        height: 156px !important;
        max-height: 156px !important;
    }

    #textPost {
        font-size: 15px;
        width: 98%;
    }

    #moreInfoPost {
        width: 156px;
        height: 30px;
        font-size: 14px;
        margin-left: 27%;
    }

    .divContent {

        width: 540px;
    }

    #headerRL p {
        font-size: 18px;
    }

    #createPost {

        width: 342px;
        max-width: 400px;
        height: 187px;
        max-height: 186px;
        position: relative;
        left: -58px;
        top: -12px;
    }

    #botCreate p {
        font-size: 21px;
    }

    #botCreate img {
        width: 54px;
        height: 54px;
    }

    #topCreate {
        height: 98px;
    }

    #textPost {
        font-size: 15px;
        width: 86%;
    }

    #moreInfoPost {
        width: 137px;
        height: 30px;
        font-size: 14px;
        margin-left: 31%;
    }

    .postBodyRightTop div img {

        width: 31px;
    }

    subDivCards {}

    .postBodyRightBot div p {

        font-size: 15px;
    }

    #titlePost {

        font-size: 20px;
    }

    #divPost {

        width: 533px;
        max-width: 533px;
        margin-left: 3%;
        margin-top: 227px;
    }

    .divCards {

        width: 393px;
        max-width: 393px;
        left: -86%;
        top: -359px;
    }

    .postBodyRightTop div img#btnChat {
        width: 24px;
        height: 24px;
        margin-top: 6px;
    }

    .postBodyRightBot {

        width: 91px;
        height: 100px;
        position: relative;
        left: -23px;
    }

    /**********Div Inversores********/
    #hazteInv {
        display: flex;
        position: relative;
        top: -197px;
        height: 187px;
        width: 171px;
        right: -216px;
    }

    #hazteInv button {

        margin-bottom: 88px;
        position: relative;
        bottom: -56px;
        width: 128px;
        height: 81px !important;
        font-size: 17px;
        max-height: 200px !important;
    }

    #hazteInv img {

        margin-top: 42px;
        position: relative;
        bottom: -14px;
    }

    #hazteInv p {

        display: none;
    }

    /***************/

    .divCards {
        width: 100%;





        height: 100%;
        MARGIN: auto;
        margin-top: 22px;
        margin-left: -515px;
    }

    .searchingPeople {

        width: 541px;
        height: 227px;
    }

    .subPeopleDiv {

        width: 120px;
        font-size: 21px;
        height: 151px;
    }

    .subPeopleDiv img {

        width: 60px;
        height: 60px;
    }

}