@media (max-width: 1000px) {
    nav {

        position: relative;

        width: 101vw;
        background-color: whitesmoke;
        top: 11vw;
        height: 11vw;
        font-size: 5vw;
    }

    #filtroBuscador {
        display: flex;
    }

    #filtroBuscador {

        width: 100%;
    }

    #buscador {

        font-size: 4vw;
    }

    .buttonsNav {
        display: none;
    }

    #logoNav {
        display: none;
    }

    #filtroMoney {
        display: none;
    }

    .buttonsNav img {
        display: none;
    }

    #barraNavResponsive {
        display: flex;
        width: 100%;
        background-color: white;
        height: 10vw;
        margin-bottom: 1.5vw;
        box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
        position: relative;
        top: -11vw;
    }

    #iconosNavResponsive {

        display: flex;
        margin: auto;
        width: 100%;
    }

    .iconoNavResponsive {
        width: 7vw;
        height: 7vw;
        right: 0;
        left: 0;
        margin: auto;
    }

    .refNav {
        width: 7vw;
        height: 7vw;
        right: 0;
        left: 0;
        margin: auto;
    }

    #meansNavResponsive {}
    .filtrosNav
    {
        visibility: hidden;
    }
}

@media (min-width:600px) and (max-width : 1000px) {
    nav {

        position: relative;

        width: 101vw;
        background-color: whitesmoke;
        top: 11vw;
        height: 11vw;
        font-size: 5vw;
    }

    #filtroBuscador {

        width: 424px;
        height: 42px;
    }

    #buscador {
        font-size: 21px;
    }

    #barraNavResponsive {
        display: flex;

        background-color: white;
        height: 10vw;
        margin-bottom: 1.5vw;
        box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
        position: relative;
        top: 1vw;
    }

    #iconosNavResponsive {

        display: flex;
        margin: auto;
        width: 100%;
        max-width: 600px;
    }

    .iconoNavResponsive {
        width: 42px;
        height: 42px;

        right: 0;
        left: 0;
        margin: auto;
    }

    .refNav {
        width: 42px;
        height: 42px;

        right: 0;
        left: 0;
        margin: auto;
    }

    #meansNavResponsive {}
}