@media (max-width: 1000px) {
    nav {
        display: none;
    }

    /****EDITAR PERFIL******/
    .cardEdit {

        height: 55vw;
        width: 86vw;
    }

    .form-campo div p {

        font-size: 3.5vw;
    }

    .editCampo {

        font-size: 3.5vw;
    }

    #btnEdit {

        width: 24vw;
        font-size: 4vw;
    }



    /**************/

    #headerRL p {

        font-size: 4vw;
    }

    .relations {

        width: 50vw;
    }

    #botonGuardar input[type="submit"] {
        font-size: 2.5vw;
    }

    html,
    body {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }

    #imagenBackPerfil {
        max-height: 40vw;
        width: 100%;
        margin: 0px;
    }

    #iconoPerfil {
        width: 20vw;
        height: 20vw;
        margin-left: 8vw;
        margin-right: 3vw;
    }

    #nameUser {
        font-size: 6vw;
        width: 100%;
        margin-left: -25vw;
    }

    .informationPerfil h2 {
        width: 100%;
    }

    .insigniasDiv h3 {
        font-size: 3vw;
    }

    #datosPerfil {
        display: none;
    }


    .boxDiv {
        width: 100%;
        background-color: rgb(247, 247, 247);
        border: none;
        box-shadow: none;
        min-height: auto;
        align-items: center;
    }

    .bottomNav {
        font-size: 2.7vw;
        margin-left: 1vw;
        width: 100%;
    }

    .informationPerfil {
        margin-top: -11vw;
    }

    #lineaDivisoria {
        height: 1px;
    }


    .cardPost {
        width: 91vw;
        margin-left: -3vw;
        height: 26vw !important;
        max-height: 26vw !important;
    }

    #titlePost {
        font-size: 3.5vw;
    }

    #textPost {
        font-size: 2.5vw;
        width: 98%;
    }

    #moreInfoPost {
        width: 23vw;
        height: 5vw;
        font-size: 2.5vw;
        margin-left: 16.5vw;
    }

    #editarPerfilImages {

        width: 7vw;
        height: 7vw;
    }

    .postBodyRightBot div p {
        font-size: 2.5vw;
    }

    .insigniasDiv h3 {

        font-size: 3.2vw;
    }

    .insigniasDiv {

        position: relative;
        right: 4vw;
        top: 5vw;
        margin: auto;
    }

    #insignias img {

        width: 5vw;
        /* margin-top: 5.6vw; */
        height: 5vw;
    }

    #pantalla {

        width: 94vw;
        height: 68vw;
    }


}

@media (min-width:600px) and (max-width : 1000px) {

    /****EDITAR PERFIL******/
    .cardEdit {

        height: 323px;
        width: 515px;
    }

    .form-campo div p {

        font-size: 21px;
    }

    .editCampo {

        font-size: 21px;
    }

    #btnEdit {

        width: 144px;
        font-size: 24px;
    }



    /**************/


    #pantalla {

        width: 94vw;
        height: 68vw;
    }

    

    .bottomNav {

        font-size: 16px;
        margin-left: 10px;
    }

    .cardPost {

        width: 558px;
        max-width: 558px;
        height: 153px !important;
        max-height: 153px !important;



        margin: 0;
        margin-bottom: 18px;
    }

    #textPost {
        font-size: 15px;
        width: 98%;
    }

    #moreInfoPost {
        width: 156px;
        height: 30px;
        font-size: 14px;
        margin-left: 27%;
    }

    .postBodyRightTop div img {

        width: 31px;
    }

    .postBodyRightBot div p {

        font-size: 15px;
    }

    #titlePost {

        font-size: 20px;
    }

    #editarPerfilImages {

        width: 42px !important;
        height: 42px !important;
    }

    #nameUser {

        font-size: 36px;
    }

    .insigniasDiv h3 {
        font-size: 19px !important;
    }

    #insignias img {

        width: 26px;
        height: 26px;
    }
}


/*

    #nameUser {
        font-size: 30px;
    }

    .insigniasDiv h3 {

        font-size: 15px;
    }

    #lineaDivisoria {

        width: 544px;
    }

    #iconoPerfil {
        width: 120px;
        height: 120px;
        margin-left: 50px;
    }
*/