@media (max-width: 1000px) {
    nav {
        display: none;
    }

    


    html,
    body {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }

    #imagenBackPerfil {
        max-height: 40vw;
        width: 100%;
        margin: 0px;
    }

    #iconoPerfil {
        width: 20vw;
        height: 20vw;
        margin-left: 8vw;
        margin-right: 3vw;
    }

    #nameUser {
        font-size: 5vw;
        width: 100%;
        margin-left: -17vw;
    }

    .informationPerfil h2 {
        width: 100%;
    }

    .insigniasDiv h3 {
        font-size: 3vw;
    }

    #datosPerfil {
        display: none;
    }

    .boxDiv {
        width: 100%;
        background-color: rgb(247, 247, 247);
        border: none;
        box-shadow: none;
        min-height: auto;
    }

    .bottomNav {
        font-size: 2.8vw;
        margin-left: 7vw;
        width: 100%;
    }

    .informationPerfil {
        margin-top: -11vw;
    }

    #lineaDivisoria {
        height: 1px;
    }

    .cardPost {
        width: 91vw;
        margin-left: -3vw;
        height: 26vw !important;
        max-height: 26vw !important;
    }

    #titlePost {
        font-size: 3.5vw;
    }

    #textPost {
        font-size: 2.5vw;
        width: 98%;
    }

    #moreInfoPost {
        width: 23vw;
        height: 5vw;
        font-size: 2.5vw;
        margin-left: 16.5vw;
    }

    .postBodyRightBot div p {
        font-size: 2.5vw;
    }

    .insigniasDiv h3 {

        font-size: 2.2vw;
    }

    .insigniasDiv {

        position: relative;
        right: 4vw;
        top: 2vw;
    }

    #insignias img {

        width: 3vw;
        margin-top: 0.6vw;
    }
}

@media (min-width:600px) and (max-width : 1000px) {

    

    .bottomNav {

        font-size: 16px;
        margin-left: 10px;
    }
}

/*

    #nameUser {
        font-size: 30px;
    }

    .insigniasDiv h3 {

        font-size: 15px;
    }

    #lineaDivisoria {

        width: 544px;
    }

    #iconoPerfil {
        width: 120px;
        height: 120px;
        margin-left: 50px;
    }
*/